.average-rating {
  font-size: 40px;
  margin: 0;
  display: grid;
}

.average-star-rating {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/*      Average Bar Graph     */
.bar-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  width: 95%;
}

.bar {
  width: 93%;
  height: 10px;
}

/*      Average Characteristic Column      */
.average-characteristic {
  width: 95%;
}

.empty-slider {
  -webkit-appearance: none;
  height: 10px;
  width: 26.5%;
  background: rgba(128, 128, 128, 0.19);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.empty-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
/*
  Triangle slider
  Overwrite the webkit custom slider into
  an upside down triangle
*/
.slider {
  -webkit-appearance: none;
  height: 10px;
  width: 26.5%;
  background: rgba(128, 128, 128, 0.19);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 5px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid black;
  transform: rotate(180deg);
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -13px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid black;
  transform: rotate(180deg);
}

.characteristic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 100;
  text-align: -webkit-match-parent;
}

.selected-rating-filter {
  color: orange;
}

.selected-rating-filter:hover {
  color: orange;
  cursor: pointer;
}

.rating-filter {
  cursor: pointer;
}

.rating-filter:hover {
  color: orange;
}