
.relatedProductsContainer {
  width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 75px 1fr;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}
.relatedItemsTitle {
  color: #525252;
}
.outfitTitle {
  color: #525252;
}

