
#relatedItemsTitle {
  padding: 0px;
  margin: 20px 48px 5px;
}
#relatedProductsContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 320px;
  gap: 0px 0px;
  padding: 0px;
  margin: 20px 40px 20px;
}
.productCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
  gap: 0px 0px;
  /* padding: 9px; */
  border-style: solid;
  border-width: 2px;
  margin: 8px;
}
.productText {
  margin: 5px;
  padding: 8px;
  line-height: 1px;
}
.img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#addToCartTitle {
  padding: 0px;
  margin: 20px 48px 5px;
}
.itemCard {
  margin-left: 3%;
  margin-right: 3%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton {
  margin:0 auto;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #5fD9BD;
  border-radius: 50%;
  border-width: thin;
  cursor: pointer;
}

.addText {
  font-family: 'Open Sans', sans-serif;
}