
#relatedProductsContainer {
  display: grid;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 1fr 40px;
}
.carouselButton {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  padding: 0px;
  background-color: rgb(192, 174, 12);
  border-radius: 50%;
  border-width: thin;
  cursor: pointer;
}
.productCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr;
  gap: 0px 0px;
  border-style: solid;
  border-width: 2px;
  margin: 8px;
  margin-left: 3%;
  margin-right: 3%;
}
.productText {
  margin: 5px;
  padding: 8px;
  line-height: 1px;
}
.img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
#addToCartTitle {
  padding: 0px;
  margin: 20px 48px 5px;
}
.itemCard {
  margin: 8px;
  margin-left: 3%;
  margin-right: 3%;
  border-width: 1px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton {
  margin:0 auto;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgb(192, 174, 12);
  border-radius: 50%;
  border-width: thin;
  cursor: pointer;
}


