.review-parent-container {
  width: 90%;
  margin: 0 auto;
}
/*    Review Container    */
.review-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.review-items-container {
  height: 30em;
  padding: 2%;
  overflow: scroll;
  margin-bottom: 2em;
  margin-top: 1em;
  border: 1px solid #b3b3b37d;
}

.review-star-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review {
  width: 90%;
  margin-bottom: 1%;
}

.summary {
  font-size: 20px;
}

.more-less {
  cursor: pointer;
  color: #0000ffcf;
}

.review-thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  width: 50%;
}

.review-thumbnail {
  height: 5em;
  cursor: pointer;
}

.review-thumbnail:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 black);
}
/*    Action buttons for reviews    */
.action-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  width: 50%;
  margin-bottom: 5em;
}

.button {
  border: 1px solid black;
  padding: 12px;
  font-family: sans-serif;
  font-weight: 400;
  cursor: pointer;
  width: fit-content;
}