/*    Review Container    */
.review-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.review-star-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.thumbnail {
  height: 5em;
  margin-right: 1%;
  cursor: pointer;
}

.thumbnail:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 black);
}
/*    Action buttons for reviews    */
.action-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  width: 50%;
  margin-bottom: 5em;
}

.button {
  border: 1px solid black;
  padding: 12px;
  font-family: sans-serif;
  font-weight: 400;
  cursor: pointer;
  width: fit-content;
}